* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body.dark {
  background: #0f1214;
  color: #eaeaea;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #12161a;
  border-bottom: 1px solid #1db95433;
}

.logo {
  color: #1db954;
  font-weight: bold;
}

nav a {
  color: #ccc;
  margin: 0 10px;
  text-decoration: none;
}

nav a.active,
nav a:hover {
  color: #1db954;
}

/* BOTONES */
.btn-primary {
  background: #1db954;
  color: #000;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

/* CONTENIDO */
.container {
  padding: 30px;
}

/* GRID LIBROS */
.grid-libros {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

/* CARD */
.card {
  background: #161b20;
  border-radius: 10px;
  padding: 15px;
}

.card h3 {
  margin: 10px 0 5px;
}

.card p {
  margin: 4px 0;
  font-size: 0.9rem;
}

.card button {
  margin-top: 10px;
  width: 100%;
}

.card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
}


.estado.no_disponible {
  color: #ff5555;
  font-weight: bold;
}

.estado.disponible {
  color: #1db954;
  font-weight: bold;
}

.estado.prestado {
  color: #ffb347;
  font-weight: bold;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 15px;
  border-top: 1px solid #1db95422;
  margin-top: 40px;
}

/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.modal-content {
  background: #12161a;
  padding: 25px;
  border-radius: 10px;
  width: 300px;
}

.modal-content input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  background: #1a1f25;
  border: none;
  color: #fff;
}

.close {
  float: right;
  cursor: pointer;
}

.msg {
  margin-top: 10px;
  color: #ff5555;
  font-size: 0.85rem;
}

.switch {
  margin-top: 10px;
  font-size: 0.9rem;
}

#switchBtn {
  color: #1db954;
  font-weight: bold;
  cursor: pointer;
}

#switchBtn:hover {
  text-decoration: underline;
}

/* =========================
   NAVBAR RESPONSIVE
========================= */

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 1.6rem;
  color: #1db954;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {

  .navbar {
    flex-wrap: wrap;
  }

  .hamburger {
    display: block;
  }

  nav {
    width: 100%;
    display: none;
    flex-direction: column;
    margin-top: 15px;
  }

  nav a {
    color: #ccc;
    margin: 0 10px;
    text-decoration: none;
    font-weight: 500;
  }

  nav a.active {
    color: #1db954;
  }

  nav a:hover {
    color: #1db954;
  }

  nav.show {
    display: flex;
  }

  .btn-primary {
    margin-top: 10px;
    width: 100%;
  }
}

.modal {
  z-index: 9999;
}

.navbar,
nav {
  z-index: 100;
}